@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Sora', Arial, sans-serif; /* Apply Sora globally */
}

nav {
  font-family: 'Sora', sans-serif; /* Apply Sora only to the Navbar */
  font-size: 12px; /* Set font size */
  font-weight: 300; /* Light font weight */
  color: black; /* Black text */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
