@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;600&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Sora', Arial, sans-serif; /* Apply Sora globally */
}

nav {
  font-family: 'Sora', sans-serif; /* Ensure Sora is applied to Navbar */
  font-size: 12px;
  font-weight: 300; /* Default to Light weight */
}

a {
  text-decoration: none; /* Remove underline by default */
  color: black; /* Set the link text to black */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.active {
  font-weight: 600; /* Semi-bold for active links */
}
